.well{
	margin: 12px 0 0 0;
}

.well legend{
    border-bottom: 1px solid #eee;
    margin: 0 0 10px;
    padding: 0 0 10px;
    text-align: center;
}

.well .page-action{
    color: gray;
    font-size: 16px;
    text-align: center;
}

#auth .form-group{
	margin: 20px 0 0 0;
}

.create-acc-btn{
	margin-left: 10px;
}