/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #eeeeee;
}

a:focus,
button:focus,
.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn.focus:active, 
.btn:active:focus, 
.btn:focus{
    outline: none;
}

#notify-box{
    display: none;
    left: 17%;
    max-width: 240px;
    position: fixed;
    text-align: center;
    top: 60px;
    width: 100%;
    z-index: 1000;
}

#notify-box i{
    display: block;
    margin: 0 0 5px;
}

#page-wrapper {
    padding: 0 15px;
}

.page-header{
 	border-bottom: 1px solid #cecece;
}

.navbar-header{
    float: none;
}

.navbar-brand{
	cursor: pointer;
}

.navbar-brand i{
	margin: 3px 10px 0 0;
	float: left;
}

#shade{
    background-color: #000000;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.modal-backdrop{
	background-color: #000000;
}

.modal-backdrop.in{
    opacity: 0.2;
}

#side-menu{
	min-width: 240px;
	width: 240px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
	position: fixed;
	top: 0;
	left: -245px;
	z-index: 1100;
	height: 100vh;
	overflow: auto;
}

#side-menu .header{
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    padding: 20px;
    font-size: 16px;
}

#side-menu .header .name{
	font-weight: bold;
}

#side-menu .header i{
    font-size: 100px;
    margin: 0 0 5px;
    opacity: 0.2;
}

#side-menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#side-menu ul li{
	float: left;
	width: 100%;
    font-size: 15px;
    font-weight: 500;
    outline: 0 none;
    padding: 20px;
    text-align: center;
}

#side-menu ul li a{
	text-decoration: none;
    color: #8f8f8f;
}

#side-menu ul li a:hover{
    color: #3f3f3f;
}

.well{
    margin-top: 20px;
    padding: 20px 0 !important;
}

.well h3{
    margin: 0 0 20px 0;
}

.add-btn{
    position: fixed !important;
    bottom: 30px;
    right: 30px;
}

.col-md-6{
    padding: 0;
}

.group-box{
    width: 100%;
}

.group-box div:nth-child(even){
    background-color: #f8f8f8;
}

.group-box h4{
    background-color: #009688;
}

.group-title{
    font-size: 18px;
    margin: 0;
    color: white;
    padding: 14px 0;
}

.group-leader,
.group-member{
    padding: 15px 15px 15px 25px;
    text-align: left;
}

.group-leader{
    font-weight: bold;
}

.nav-tabs > li{
    margin-bottom: 0;
    width: 33.33%;
}

.nav-tabs > li.active a{
    background-color: #0c8274 !important;
}

.nav-tabs{
    border: none;
}

.tab-content{
    height: 100%;
    margin: 20px 0 0;
}

.tab-pane{
    padding: 15px;
}

.tab-pane .group-box{
    margin: 15px 0 0 0;
}

.tab-pane .group-box div{
    padding: 15px 0;
}

.tab-pane .group-member:nth-child(even){
    background-color: #f8f8f8;
}

.slope a.group-title{
    background: #eaeaea none repeat scroll 0 0;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 14px 0;
    width: 100%;
    color: #009688 !important;
}

.slope a.group-title:nth-child(even){
    background: #f8f8f8 none repeat scroll 0 0;
}

.slope-box div.row{
    margin-bottom: 10px;
}

.slope-box div.slope{
    background: #eaeaea none repeat scroll 0 0;
    color: #009688 !important;
    font-size: 16px;
    line-height: 45px;
    margin: 0;
    width: 100%;
}

.slope-box div.slope:nth-child(even){
    background: #f8f8f8 none repeat scroll 0 0;
}

.slope-box .material-icons{
    font-size: 16px;
    line-height: 45px;
}

#choose_slope{
    width: 100%;
}